.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  background-color: rgb(28, 185, 159);
  width: 350px;
  height: 350px;
  margin: auto;
}

.box {
  width: 370px;
  height: 420px;
  margin: auto;
  border: 1px solid rgb(238, 134, 141);
  border-radius: 5px;
}

.col {
  text-align: center;
  /* border: 0.2px solid #000000;     */
}
button {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 224, 134);
  font-size: 25px;
  border-radius: 15px;
}
.input {
  width: 365px;
  height: 50px;
  border-radius: 5px;
  /* border: 2px solid #000000; */
  background-color:  rgb(227, 227, 65);
  word-break: break-all;
  text-align: right;
  font-size: 20px;
}
body {
  padding-top: 100px;
  text-align: center;
  background: linear-gradient(to right, rgb(227, 227, 65), rgb(148, 211, 232));
}

button:hover {
  background-color: rgb(69, 231, 218);
}

/* .span {
  grid-row: span 2;
} */
